* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: linear-gradient(to right, #2196f3, #03A9F4, #00BCD4, #00BCD4); */
}

header {
    display: flex;
    align-items: center;
    color: black;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

@media (max-width: 500px) {
    header {
        align-items: flex-start;
    }
}

ul {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    gap: 30px;
    list-style: none;
}

@media (max-width: 500px) {
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

a {
    color: black;
    text-decoration: none;
}

main {
    height: 475px;
    padding: 20px;
}
   
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    top: 10px;
    position: relative;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 0px 10px;
    
}

button {
    border-radius: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
    height: 40px;
    width: 100px;
}

p {
    color: red;
    font-size: 12px;
}

.invalid {
    border:2px solid red;
    background-color: #ffe6e6;
}

.mensagem-erro {
    display: none; 
}

.mensagem {
    text-align: center;
    margin-top: 100px;
    display: none;
}

