* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: linear-gradient(to right, #2196f3, #03A9F4, #00BCD4, #00BCD4); */
}

header {
    display: flex;
    align-items: center;
    color: black;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    padding: 20px;    
}

ul {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    gap: 30px;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}