* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: linear-gradient(to right, #2196f3, #03A9F4, #00BCD4, #00BCD4); */
}

header {
    display: flex;
    align-items: center;
    color: black;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

@media (max-width: 500px) {
    header {
        align-items: flex-start;
    }
}

ul {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    gap: 30px;
    list-style: none;
}

@media (max-width: 500px) {
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

#menu-burguer {
    font-size: 20px;
    display: none;
}

@media (max-width: 500px) {
    #menu-burguer {
        display: block;
    }
}

@media (max-width: 500px) {
    li {
        display: none;
    }
}

a {
    color: black;
    text-decoration: none;
}

main {
    height: 574px;
    padding: 20px;
}
   
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    top: 80px;
    position: relative;
}

input {
    width: 300px;
    height: 35px;
    border-radius: 10px;
    padding: 0px 10px;
}

button {
    border-radius: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
    height: 40px;
    width: 100px;
}

#mensagem {
  margin-top: 10px;
  font-size: 16px;
  transition: opacity 0.3s ease;
}

.mensagem-rodape{
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

